<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>
<br><br>
<form action='/bookmarks/new' method='get'>
  <input type="submit" value="Add Bookmark" />
</form>
