<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>
<br><br>
<form action="/confirmation" method="post">
  Bookmark:<br><br>
  <input type="text" name="Bookmark"><br><br>
  <input type="submit" value="Save Bookmark">
</form>
