<form action="/bookmarks" method="post">
  Bookmark:<br><br>
  <input type="text" name="url" placeholder="URL" /><br><br>
  Title:<br><br>
  <input type="text" name="title" placeholder="Title" /><br><br>
  <input type="submit" value="Save Bookmark" />
</form>
