<form action="/bookmarks/<%=@bookmark.id%>" method="post">
  Url:<br><br>
  <input type="text" name="url" placeholder="<%=@bookmark.url%>" /><br><br>
  Title:<br><br>
  <input type="text" name="title" placeholder="<%= @bookmark.title %>" /><br><br>
  <input type="hidden" name="_method" value="PATCH"/>
  <input type="submit" value="Update" />
</form>
